@import "../abstracts/mixins";

.app-footer {
    margin-top: 25%;

    .app-footer__info {
        display: flex;
        justify-content: space-between;
        padding: 1.85rem 1rem 1.25rem;
        background-color: white;
        gap: 1rem;

        .app-footer__social-links,
        .app-footer__grab-one,
        .app-footer__account,
        .app-footer__merchants,
        .app-footer__subscribe {
            header {
                margin-bottom: 1.25rem;
                text-transform: capitalize;
            }

            ul {
                li {
                    font-size: 90%;
                    font-weight: 300;
                    padding: 0.5rem 0;
                    cursor: pointer;
                    text-transform: capitalize;
                    transition: color 0.3s;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }

        .app-footer__social-links {
            .social-links {
                display: flex;
                align-items: center;
                gap: 1rem;

                svg {
                    width: 34px;
                    height: 34px;
                    padding: 7px;
                    cursor: pointer;
                    color: white;
                    background-color: $primary-text-color;
                    border-radius: 50%;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: $primary-color;
                    }
                }
            }

            span {
                display: block;
                margin: 1.25rem 0;
            }

            button {
                font-size: 0.85rem;
                font-weight: bolder;
                display: flex;
                align-items: center;
                padding: 0.75rem 1rem;
                text-transform: capitalize;
                color: #FFF;
                background-color: #01B2EE;
                border-radius: 5px;
                box-shadow: 0 0 8px 0 #01B2EE80;
                transition: background-color 0.3s;
                gap: 0.25rem;

                &:hover,
                &:active {
                    background-color: #24C7FE;
                }
            }
        }

        .app-footer__grab-one {}

        .app-footer__account {}

        .app-footer__merchants {}

        .app-footer__subscribe {
            flex-basis: 420px;

            p {
                margin-bottom: 1.25rem;
            }

            .app-footer__subscribe-field {
                @include send-email-field;
            }
        }
    }

    .app-footer__copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        background-color: #FFF;
        border-top: 1px solid #DCE3ED;
        gap: 0.8rem;

        span {
            &:first-of-type {
                text-transform: capitalize;
                color: $primary-color;
            }
        }
    }

    @include respond(custom-media, 0, 1280px) {
        .app-footer__info {
            flex-wrap: wrap;

            .app-footer__subscribe {
                flex-basis: 100%;
                order: -1;
                padding-bottom: 1.85rem;
                border-bottom: 1px solid #DCE3ED;
            }
        }
    }

    @include respond(tab-port) {
        .app-footer__info {
            [class^="app-footer__"]:not(.app-footer__subscribe) {
                flex-basis: calc(50% - 1rem);
            }
        }
    }

    @include respond(phone) {
        .app-footer__info {
            [class^="app-footer__"]:not(.app-footer__subscribe) {
                flex-basis: 100%;
            }
        }
    }
}
