@import "../abstracts/mixins";

.enroll {
    .enroll__wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 2rem;
        background-color: #FFF;
        border-bottom: 1px solid #DCE3ED;

        .enroll__description {
            font-size: 1.5rem;
            font-weight: bolder;
            flex: 1;
            color: $primary-color;
        }

        .enroll__field {
            @include send-email-field;
        }
    }

    @include respond(custom-media, 0, 1160px) {
        .enroll__wrapper {
            justify-content: center;
            row-gap: 1.25rem;

            .enroll__description {
                flex-basis: 100%;
                text-align: center;
            }
        }
    }
}
